			<li>
				<span class="avatar">
					<img src="<%= comment.maker.avatar.small.url %>">
					<span class="commentCorner"></span>
				</span>
				<span class="commentBody">
					<span class="meta">
						<a href="/<%= comment.maker.url %>" class="makerLink"><%= comment.maker.nickname %></a>
						<span class="date"><%= moment(comment.stamp,"YYYYMMDD").fromNow() %></span>
					</span>
					<span class="text"><%= comment.raw %></span>
					<span class="reply"></span>
				</span>
			</li>	
